
<div class="row mt-3">
  <h2 class="c-dark-gray font-weight-semi mb-4">Super Listado de restaurantes</h2>
  <form action="/restaurants" method="GET" class="flex-grow-1 mb-3">
    <div id="search-wrapper" class="d-flex flex-row align-items-center">
      <i class="fa fa-search"></i>
      <input name="search" type="text" class="form-control border-0" placeholder="Search">
    </div>
  </form>
</div>

<div class="row">
{{#each restaurants as |restaurant|}}
  <div class="col-md-4 col-sm-6 d-flex">
    <div class="card my-3 position-relative">
      <div class="card-img-top-wrapper">
        <img src="{{restaurant.image}}" class="card-img-top">
      </div>

      {{#restaurantIsOwnerBy user=../currentUser restaurant=restaurant }}
        <div class="position-absolute actions-card-button p-3">
          <div class="d-flow rounded-pill d-flex w-100 justify-con">
            <a href="/restaurants/{{restaurant.id}}/edit" class="border border-secondary btn bg-white rounded me-1 btn-link text-secondary"><i class="fa fa-edit"></i></a>
            <form action="/restaurants/{{restaurant.id}}/delete" method="post">
              <button type="submit"
                class="border border-danger btn bg-white rounded btn-link text-danger"><i class="fa fa-times"></i></button>
            </form>
          </div>
        </div>
      {{/restaurantIsOwnerBy}}

      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title c-dark-gray">{{restaurant.name}}</h5>
          <p class="card-address"><span class="pe-1"><i class="fa fa-map-pin"></i></span>{{restaurant.address}}</p>
          <p class="card-description">{{restaurant.description}}</p>
          <p class="card-description">{{restaurant.owner.email}}</p>
        </div>
        <div class="d-grid mt-1">
          <a
            href="/restaurants/{{restaurant.id}}"
            class="btn btn-sm btn-primary border-0 bg-light-green py-2">
              Detail
          </a>
        </div>
      </div>
    </div>
  </div>
{{/each}}
</div>

</div>
